<div class="explorer-file-menu dropdown">
  <ul class="dropdown-menu typeahead" id="expfile" role="menu">
    <li><a href="#" data-action="open"><span class="fui-upload"></span> Open</a></li>
    <li class="divider"></li>
    <li><a href="#" data-action="rename"><span class="fui-new"></span> Rename</a></li>
    <li><a href="#" data-action="delete"><span class="fui-trash"></span> Delete</a></li>
    <li class="run divider"></li>
    <li class="run"><a href="#" data-action="run" title="Run file and output to console"><span class="fui-play"></span> Run</a></li>
    <li class="run"><a href="#" data-action="runadvanced" title="Set debug and start options"><span class="fui-play"></span> Run + Debug</a></li>
    <li class="coffee"><a href="#" id="coffcomp" data-action="coffeecompile" title="Compile coffeescript"><span class="fui-upload"></span> Compile Coffeescript</a></li>
     <li class="typescript"><a href="#" id="tscomp" data-action="typescriptcompile" title="Compile typescript"><span class="fui-upload"></span> Compile Typescript</a></li>
    <li class="install divider"></li>
    <li class="install"><a href="#" data-action="install" title="Install package dependencies"><span class="fui-exit"></span> Install</a></li>
  </ul>
</div>
<div class="explorer-dir-menu dropdown">
  <ul class="dropdown-menu typeahead" role="menu">
    <li><a href="#" data-action="addfile"><span class="fui-windows"></span> New File</a></li>
    <li><a href="#" data-action="adddir"><span class="fui-folder"></span> New Folder</a></li>
    <li class="divider"></li>
    <li><a href="#" data-action="rename"><span class="fui-new"></span> Rename</a></li>
    <li><a href="#" data-action="delete"><span class="fui-trash"></span> Delete</a></li>
  </ul>
</div>

