<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= metaTitle %></title>

    <!-- Loading Bootstrap -->
    <link href="core/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="core/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Loading Flat UI -->
    <link href="core/css/flat-ui.css" rel="stylesheet">
  	<link rel="stylesheet" href="css/layout.css" />
		<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.1/css/bootstrap-combined.min.css" /> -->
    <%-stylesheets%>
		<script src="js/jquery-1.10.2.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
		<!-- <script src="js/jquery-ui.min.js"></script> -->
		<!-- <script src="core/js/bootstrap.min.js"></script> -->


    <script src="core/js/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="core/js/jquery.ui.touch-punch.min.js"></script>
    <script src="core/js/bootstrap.min.js"></script>
    <script src="core/js/bootstrap-select.js"></script>
    <script src="core/js/bootstrap-switch.js"></script>
    <script src="core/js/flatui-checkbox.js"></script>
    <script src="core/js/flatui-radio.js"></script>
    <script src="core/js/jquery.tagsinput.js"></script>
    <script src="core/js/jquery.placeholder.js"></script>
    <script src="core/js/jquery.stacktable.js"></script>
    <script src="core/js/application.js"></script>

    <script src="js/underscore-min.js"></script>
    <script src="js/backbone-min.js"></script>
    <script src="js/utils.js"></script>
    <%-scripts%>
  </head>
  <body>
  	<%- body %>
  </body>
</html>